<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" th:href="@{/static/plugins//bootstrap/3.4.1/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/static/plugins/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css}">

		<title>网站书签</title>
	</head>
	<body>
		<div class="container">
			<!-- Content here -->
			<a th:href="@{/bookmark/edit}">编辑</a>
			<div class="row">
				<div class="col-sm-4">
					<h2>所有书签</h2>
					<div id="treeview1" class=""></div>
				</div>
			</div>
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script th:src="@{/static/plugins/jquery/3.3.1/jquery.min.js}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script th:src="@{/static/plugins/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
		<script th:src="@{/static/plugins/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js}"></script>

		<script>
			$(function() {
				$.ajax({
					"url": "/getBookmarkByTreeview",
					"success": function(json) {
						$('#treeview1').treeview({
							enableLinks: true,
							showTags: true,
							data: json
						});
					}
				});
			})
		</script>
	</body>
</html>
